body {
	background-image: url('images/backgroundimg.jpg'); /*background image*/
	background-color: #B9B9B9;
}

.mainheadings {
	font-weight: bold;
}

h1.mainheadings {
	font-size: 25px;
}

h3.mainheadings {
	font-style: italic;
}

textarea {
	width: 97%;
	height: 100px;
}

#map_canvas {
    width: 500px;
    height: 400px;
	background-color: #CCC;
}

fieldset {
	display: inline-block;
	width: 250px;
	vertical-align: top;
}

#sex {
	width: 90%;
}

/*no underlines for hyperlinks*/
.nounderline {
	text-decoration: none;
}

/*text input sizes for enquire page*/
.textinputsmall {
	width: 100px;
}
.textinput {
	width: 150px;
}

.textinputlarge {
	width: 200px;
}

/*container houses elements in body*/
#container {
    margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
    width: 90%;
	min-width: 600px;
	font-family: arial;
}

header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-topleft: 15px;
	background-color: #E0E0E0;
}

header img {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/*navigation bar*/
nav {
	text-align: center;
	margin-bottom: 10px;
}

/*navigation bar*/
nav ul {
    list-style-type: none;
    margin:0px;
    padding: 0px;
	background-color: #FF6510;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
}

nav li {
	display: inline-block;
	background-color: #FF6510;
	padding: 0px 10px;	
}

/*navigation bar effects when hover*/
nav li a { 
	color: #FFFFFF; 
	-moz-transition: color .3s ease-out;
	-webkit-transition: color .3s ease-out;
	transition: color .3s ease-out;
	text-decoration: none;

}

nav a:hover { 
	color: yellow; 
}

article {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	padding: 10px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	
}

article h1 {
}

section, aside  {
	margin: 15px;
}

aside {
	text-align: right;
}

footer {
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	background-color: #FF6510;
	color: #FFFFFF;
	text-align: right;
	padding: 0px 10px;
}

#name {
	text-align: right;
}

#studentid {
	text-align: right;
	font-family: Courier New;
}

#course{
	color: rgb(0,0,255);
}

#photome {
	width: 379px;
	text-align: left;
	border-style: double;
	padding: 20px;
	margin: 10px;
}

/*table style*/
#timetable  table{
	margin-left: auto;
	margin-right: auto;
}

#timetable table th{
	font-style: italic;
	background-color: #FF6510;
	min-width: 80px;
}

#timetable table td {
	background-color: #FF6510;
}

#timetable table #blank {
	opacity: 0; /*unused cells become invisible*/
}

/*table style*/
#manage {
	overflow-x: scroll;
}

#manage  table{
	margin-left: auto;
	margin-right: auto;
}

#manage table th{
	font-style: italic;
	min-width: 80px;
}


#manage table #blank {
	opacity: 0; /*unused cells become invisible*/
}